name: Sync to Another Repo

on:
  push:
    branches:
      - test   # your source branch
  workflow_dispatch: 
jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Source Repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        persist-credentials: false   

    - name: Configure Git
      run: |
        git config --global user.name "sync-bot"
        git config --global user.email "sync-bot@github.com"

    - name: Setup Authentication
      run: |
        git config --global url."https://${{ secrets.TARGET_REPO_TOKEN }}@github.com/".insteadOf "https://github.com/"

    - name: Add Target Repo
      run: |
        git remote add deploy https://github.com/jayakrishna2455/test2.git

    - name: Sync with Target Branch
      run: |
        git fetch deploy release2 || true
        git checkout -B temp-sync
        git rebase deploy/release2 || true
        git push deploy temp-sync:release2
