name: Sync to Another Repo

on:
  push:
    branches:
      - test   # your source branch

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Source Repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        persist-credentials: false   # IMPORTANT

    - name: Configure Git
      run: |
        git config --global user.name "sync-bot"
        git config --global user.email "sync-bot@github.com"

    - name: Setup Authentication
      run: |
        git config --global url."https://${{ secrets.TARGET_REPO_TOKEN }}@github.com/".insteadOf "https://github.com/"

    - name: Add Target Repo
      run: |
        git remote add target https://github.com/jayakrishna2455/test2.git

    - name: Push to Target Branch
      run: |
        git push target HEAD:release --force
